.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.NavigationItems .LoginRegister,
.NavigationItems .SideDrawer {
  color: #5c007a;
  height: 40px;
  margin: 0 0;
  padding: 8px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}

.NavigationItems .LoginRegister:hover,
.NavigationItems .SideDrawer:hover {
  background-color: #fff;
  border-bottom: 4px solid #f57c00;
  color: #000;
  cursor: pointer;
}

@media (min-width: 500px) {
  .NavigationItems {
      flex-flow: row;
  }

  .NavigationItems .LoginRegister {
    color: #fff;
  }

  .NavigationItems .LoginRegister:hover,
  .NavigationItems .SideDrawer:hover {
  background-color: #fff;
  border-bottom: 4px solid #f57c00;
  color: #000;
  cursor: pointer;
}
}