.Toolbar {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5c007a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.4);
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

@media (max-width: 499px) {
  .DesktopOnly {
      display: none;
  }
}