.EditEvent {
  width: 100%;
  box-shadow: 3px 3px 5px #9e9e9e;
  text-align: center;
  background-color: #fafafa;
  max-width: 350px;
  display: inline-block;
  margin-bottom: 30px;
}

.PageTitle {
  background-color: #bb4d00;
  color: #fff;
  box-shadow: 0 3px 5px rgb(0, 0, 0, 0.4);
  margin: 0;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1.0rem;
  font-weight: normal;
}

.EditEvent input {
  padding: 0.5rem 1rem;
  display: inline-block;
  border-bottom: 1px solid #000;
  background-color: #fafafa;
}

.EditEvent :focus {
  border-color: #f0afaf;
  box-shadow: 0 0 8px 0 #f0afaf;
}